.question-wrapper{
    margin: 20px;
}

#bottom-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question-title{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.question-required{
    color: red;
}

.question-input{
    width: calc(100% - 20px);
    margin-top: 5px;
}

.question-submit-wrapper{
    display: flex;
    justify-content: center;
}

.question-submit-button{

}


button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: #606266;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #dcdfe6;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
}

input{
    outline-style: none ;
    border: 1px solid #ccc;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}