<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jenschen.mapper.InfoMapper">
    <resultMap id="BaseResultMap" type="com.jenschen.entity.InfoEntity">
        <result column="id" jdbcType="INTEGER" property="id" />
    </resultMap>

    <select id="getByCode" resultType="com.jenschen.entity.InfoEntity">
        select * from info where is_deleted = 0 and url = #{code}
    </select>


    <select id="getLastNInfo" resultType="com.jenschen.entity.InfoEntity">
        select * from info where is_deleted = 0 and status = 2 order by created_at desc limit 0, #{num}
    </select>


</mapper>