<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenschen.dao.InfoMapper">
  <resultMap id="BaseResultMap" type="com.jenschen.entity.Info">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="association_id" jdbcType="INTEGER" property="associationId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="page_title" jdbcType="VARCHAR" property="pageTitle" />
    <result column="begin_datetime" jdbcType="TIMESTAMP" property="beginDatetime" />
    <result column="end_datetime" jdbcType="TIMESTAMP" property="endDatetime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="deleted_by" jdbcType="INTEGER" property="deletedBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jenschen.entity.Info">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into info (`name`, association_id, title, 
      page_title, begin_datetime, end_datetime, 
      is_deleted, deleted_at, deleted_by, 
      created_at, created_by, updated_at, 
      updated_by)
    values (#{name,jdbcType=VARCHAR}, #{associationId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{pageTitle,jdbcType=VARCHAR}, #{beginDatetime,jdbcType=TIMESTAMP}, #{endDatetime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{deletedAt,jdbcType=TIMESTAMP}, #{deletedBy,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jenschen.entity.Info">
    update info
    set `name` = #{name,jdbcType=VARCHAR},
      association_id = #{associationId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      page_title = #{pageTitle,jdbcType=VARCHAR},
      begin_datetime = #{beginDatetime,jdbcType=TIMESTAMP},
      end_datetime = #{endDatetime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      deleted_by = #{deletedBy,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, `name`, association_id, title, page_title, begin_datetime, end_datetime, 
    is_deleted, deleted_at, deleted_by, created_at, created_by, updated_at, updated_by
    from info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, association_id, title, page_title, begin_datetime, end_datetime, 
    is_deleted, deleted_at, deleted_by, created_at, created_by, updated_at, updated_by
    from info
  </select>
</mapper>