<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jenschen.mapper.TaskMapper">
    <resultMap id="BaseResultMap" type="com.jenschen.entity.TaskEntity">
        <result column="id" jdbcType="INTEGER" property="id" />
    </resultMap>

    <select id="getByInfoId" resultType="com.jenschen.entity.TaskEntity">
        select * from task where is_deleted = 0 and type = #{type} and info_id = #{infoId}
    </select>


    <select id="deleteByInfoId" resultType="com.jenschen.entity.TaskEntity">
        update task set is_deleted = 1,
                             deleted_by = #{operationId},
                             deleted_at = now(),
                             updated_by = #{operationId},
                             updated_at = now()
        where info_id = #{infoId} and type = #{type} and is_deleted = 0
    </select>




</mapper>